<header>
  <div class="row">
    <div class="one column"><img src="/wombat3.png" alt="Sorry, No Wombat!"></div>
  <h1>Wombat's Eight Square </h1> 
  <h2>We will decide for you!!</h2>
  </div>
</header>