    <h2>Edit the questions and answers!</h2>
    <form method="POST" action="/create" >
      <p>Question: <input type="text" name="q" value="{{question}}"></p> 
    {{#each game}}
      <p>Answer: <input type="text" name="a" value="{{answer}}"></p>
    {{/each}}

    <button type="submit" value="Create Game">Edit Game</button>
    </form>