<div class="container">
      <button type="button" value="Create Game">Create Game</button>
      <button type="button" value="Edit Game">Edit Game</button>
      <button type="button" value="Select Game">Select Game</button> 
</div>