<!DOCTYPE html>
<html>
  <head>
    <title>Wombat's Eight Square</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <button type="button" value="Create Game">Create Game</button>
      <button type="button" value="Edit Game">Edit Game</button>
      <button type="button" value="Start Game">Select Game</button> 
    </div>
  </body>
</html>
