<div class="container">
      <button type="button" onclick="window.location.href='/create'">Create Game</button>
      <button type="button" onclick="window.location.href='/'">Edit Game ($9.99)</button>
      <button type="button" onclick="window.location.href='/'">Select Existing Game ($4.50)</button> 
</div>