<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <button type="button" value="Create Game">Create Game</button>
    <button type="button" value="Edit Game">Edit Game</button>
    <button type="button" value="Start Game">Select Game</button> 
  </body>
</html>
