
<div class="play">
  <h2>This is your answer!!</h2>
  <div>{{question}}</div>
  <div>{{answer}}</div>

  <button><a href="/edit/1">Edit Game</a></button> 
  <button> <a href="/">Home</a></button>

</div>
