
<div class="play">
  {{!-- <h2>Your answer is....</h2> --}}
  <div>{{question}}</div>
  <div class="answer">{{answer}}</div>

  <button onclick="window.location.href=''">MAKE NEW SELECTION</button> 
  <button onclick="window.location.href='/'">Home</button>

</div>
